apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - path: patch.yaml
  - path: configmap-patch.yaml
    target:
      kind: ConfigMap
      name: autocare360-config